@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style type="text/css">
    #banner {
        background-image: url('../content/images/banner1.jpg');
        background-size: cover;
        background-position: center;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner-content{
        text-align:center;
    }

    .banne-content h2{
        font-size:2.5rem;
    }

    .banner-content p{
        font-size:2rem;
    }

    .btn{
        display:inline-block;
        padding:5px 20px;
        background-color:#0094ff;
        text-decoration:none;
        font-weight:bold;
    }

    #featureProd{
        text-align:center;
    }

    #featureProd h2{
        font-size:2rem;
        margin-bottom:20px;
    }

    .prodContainer{
        display:flex;
        justify-content:center;
        gap:10px;
    }

    .product-item{
        width:200px;
    }

    .product-item h3{
        font-size:16px;
        margin:10px 0px;
    }

    .product-item img{
        max-width:150px;
    }
    .prodDescription{
        font:arial;
        font-size:10px;
        color:black;
        color:lightgray;
    }

    .prodPrice{
        font-size:12px;
        color:black;
        font-weight:bold;
    }
</style>


<section id="banner">
    <div class="banner-content">
        <h2>Chào mừng đến với website</h2>
        <p>Hàng nghìn sản phẩm hấp dẫn</p>
        <a href="#"class="btn">Bắt đầu mua sắm tại đây</a>
    </div>
</section>
<section id="content">
    <section id="search" class="content-section">

    </section>
    <section id="featureProd" class="content-section">
        <h2>Sản phẩm nổi bật</h2>
        <div class="prodContainer">
            <div class="product-item">
                <img src="~/Content/images/banner2.jpg" />
                <p>Laptop văn phòng</p>
                <p class="prodDescription">Gía siêu hời</p>
                <p class="prodPrice">Chỉ với 10.000.000đ</p>
            </div>
            <div class="product-item">
                <img src="~/Content/images/images.jpg" />
                <h3>Laptop Razer</h3>
                <p>Laptop gaming hiệu năng cao</p>
                <p>Gía bán hiện tại 50.000.000đ</p>   
            </div>
        </div>

        </section>
        <section id="productList">

        </section>
</section>
